.huidu-ellipsis {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
p.huidu-description {
  margin-top: 1.5em;
}
.huidu-last-update-ellipsis {
  .huidu-ellipsis();
  -webkit-line-clamp: 2;
  height: 7em; 
}

.huidu-money {
  font-size: 1em;
  color: #f30000;
}

.huidu-actions {
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
}